.main{

    margin-left: auto;
    margin-right:auto;

}


.sub{

    margin:auto;

}

.math{
    margin:auto;


}




h2{
    text-align:center;
}


.kian{

width:100px;

}



.atama{

    height:100px;
}


.anken{
    height:20px;
}