.main{



    margin-left: auto;
    margin-right:auto;

}


.sub{


	 margin-right:auto;
    margin-left:auto;

}

.math{




	margin-left: auto;
	 margin-right:auto;



}



input{
	border:none;
	text-align:center;
}



h2{
    text-align:center;
}








.file{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

